<div class="card form-container">
    <div class="row">
        <div class="col-md-6">
            <h3>Create A New Proposal</h3>
            
            <form (ngSubmit)="createProposal(proposalForm.value)" #proposalForm="ngForm" nonvaildate>
                <div class="form-group">
                    <label for="customer">Customer Name</label>
                    <input 
                        type="text"
                        class="form-control" 
                        id="customer" 
                        placeholder="ABC Company" 
                        name="customer" 
                        #customer="ngModel" 
                        ngModel 
                        required
                    >
                    <div class="error-msg alert alert-danger" [hidden]="customer.valid || customer.pristine">
                        Customer field can't be blank!
                    </div>
                </div>
                <div class="form-group">
                    <label for="portfolio_url">Portfolio Url</label>
                    <input 
                        type="url" 
                        class="form-control"
                        id="portfolio_url" 
                        placeholder="www.google.com" 
                        name="portfolio_url" 
                        #portfolio_url="ngModel" 
                        ngModel 
                        required
                    >
                    <div class="error-msg alert alert-danger" [hidden]="portfolio_url.valid || portfolio_url.pristine">
                        Portfolio url field can't be blank!
                    </div>
                </div>
                <div class="form-group">
                    <label for="tools">Tools that you'll use on the project</label>
                    <input 
                        type="text" 
                        class="form-control"
                        id="tools" 
                        placeholder="Ruby on Rails, Angular 2, etc" 
                        name="tools" 
                        #tools="ngModel" 
                        ngModel 
                        required
                    >
                    <div class="error-msg alert alert-danger" [hidden]="tools.valid || tools.pristine">
                        Tools field can't be blank!
                    </div>
                </div>
                <div class="form-group">
                    <label for="estimated_hours">Estimated Hours</label>
                    <input 
                        type="number" 
                        class="form-control"
                        id="estimated_hours" 
                        name="estimated_hours" 
                        #estimated_hours="ngModel" 
                        ngModel 
                        required
                    >
                    <div class="error-msg alert alert-danger" [hidden]="estimated_hours.valid || estimated_hours.pristine">
                        Estimated hours field can't be blank!
                    </div>
                </div>
                <div class="form-group">
                    <label for="hourly_rate">Hourly Rate</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input 
                            type="number" 
                            class="form-control"
                            id="hourly_rate" 
                            name="hourly_rate" 
                            #hourly_rate="ngModel" 
                            ngModel 
                            required
                        >
                    </div>
                    <div class="error-msg alert alert-danger" [hidden]="hourly_rate.valid || hourly_rate.pristine">
                        Hourly rate field can't be blank!
                    </div>
                </div>
                <div class="form-group">
                    <label for="weeks_to_complete">Weeks to complete</label>
                    <input 
                        type="number"
                        class="form-control" 
                        id="weeks_to_complete" 
                        name="weeks_to_complete" 
                        #weeks_to_complete="ngModel" 
                        ngModel 
                        required
                    >
                    <div class="error-msg alert alert-danger" [hidden]="weeks_to_complete.valid || weeks_to_complete.pristine">
                        Weeks to complete field can't be blank!
                    </div>
                </div>
                <div class="form-group">
                    <label for="client_email">Client Email <em>(optional)</em> </label>
                    <input 
                        type="email"
                        class="form-control" 
                        id="client_email" 
                        name="client_email" 
                        #client_email="ngModel" 
                        ngModel 
                    >
                    <div class="error-msg alert alert-danger" [hidden]="client_email.valid">
                        Customer field can't be blank!
                    </div>
                </div>

                <button type="submit" 
                        class="btn btn-outline-primary btn-lg"
                        [disabled]="!proposalForm.valid"
                        [hidden]="submitted">
                    Generate Proposal
                </button>

                <div 
                [hidden]="!submitted"
                class="alert alert-success" 
                role="alert">
                    Your Proposal has been generated 
                    <a class="alert-link" routerLink="/proposals">View all proposals</a>
                </div>
            </form>
        </div>
        <br>
        <div class="col-md-6">
            <article>
                <p>Hi {{proposalForm.value.customer}},</p>

                <p>It was a pleasure getting to meet with you and review your project requirements, I believe it is a great fit for 
                    the types of applications that I build out. Please feel free to check out some of 
                    my past projects <a href="{{ proposalForm.value.portfolio_url }}">here</a>.</p>


                <p>To successfully build out the application I will be utilizing {{ proposalForm.value.tools }}, and a number of other tools 
                    to ensure that the project follows industry wide best practices.</p>


                <p>Ensuring that you are fully informed is one of my top priorities, so in addition to incorporating everything that we discussed, 
                    I will also be creating a project management dashboard and sending you a project update message daily so that you can have a 
                    transparent view of the development as it takes place.</p>


                <p>To accomplish the project and meet the requirements that we discussed, I am estimating that it will 
                    take {{ proposalForm.value.estimated_hours }} hours in development time to complete. 
                    The project should take {{ proposalForm.value.weeks_to_complete }} weeks to 
                    complete and with my hourly rate of {{ proposalForm.value.hourly_rate }}/hour, 
                    the estimated total will be {{ proposalForm.value.hourly_rate * proposalForm.value.estimated_hours | currency:'USD':true:'.0'}}.</p>


                <p>The next step from here is to set up a meeting to finalize the project and sign contracts.</p>


                <p>I am excited to working with you and build out this project.</p>
            </article>
        </div>
    </div>
</div>