<div class="container">
    <div class="jumbotron">
        <h1>Freelancer Dashboard</h1>
        <p class="lead">
            Everything you need to manage your freelance business.
        </p>
    </div>
</div>