<nav class="navbar navbar-fixed-top navbar-light bg-faded nav-styles">
    <!--<div class="container">-->
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/documents" routerLinkActive="active">Documents</a>
            </li>
            <li class="nav-item dropdown">
                <div ngbDropdown class="d-inline-block dropdown-links">
                    <button class="btn btn-outline-primary" id="proposalDropdown" ngbDropdownToggle>
                        Proposals
                    </button>
                    <div class="dropdown-menu" aria-labelledby="proposalDropdown" >
                        <a class="dropdown-item" routerLink="/proposals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Proposals</a>
                        <a class="dropdown-item" routerLink="/proposals/new" routerLinkActive="active">New proposal</a>
                    </div>
                </div>
            </li>
        </ul>
    <!--</div>-->
</nav>

<main class="container app-body">
    <router-outlet></router-outlet>
</main>