.app-body {
    margin-top: 80px;
}

.nav-styles {
    background-color: #1a1b22;
}

.nav-styles a {
    color: #fff;
}

.nav-styles a:hover {
    color: #c9c9c9;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #e64758;
}

.dropdown-links a {
    color: #1a1b22;
}

.dropdown-links a:hover {
    color: #252830;
}